//
//  CloudVsFireProd.xcconfig
//  CloudVsFire
//
//  Created by Nick Reichard on 2/19/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BUNDLE_DISPLAY_NAME = CloudVsFire
PRODUCT_BUNDLE_IDENTIFIER = com.CloudVsFire
PRODUCT_NAME = CloudVsFire
