<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlD0xoDgbzWHhEzP2tdACtmc9ZbXkJTWY</string>
	<key>GCM_SENDER_ID</key>
	<string>426634281635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CloudVsFire.dev</string>
	<key>PROJECT_ID</key>
	<string>cloudvsfire-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>cloudvsfire-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426634281635:ios:fba967130e4f6f47d37516</string>
</dict>
</plist>